@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#Barra a,button {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f
}

.carousel-inner{
    max-height: 29rem;
}

@media (max-width:768px){
    #intro {
        width: 90% !important;
    }
}

.card-img-top{
    border-radius: 40px;
    padding: 20px ;
}

.card{
    border-radius: 20px;
}