@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#Barra a,button {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f
}

.carousel-inner{
    max-height: 29rem;
}

@media (max-width:768px){
    #intro {
        width: 90% !important;
    }
}

.card-img-top{
    border-radius: 40px;
    padding: 20px ;
}

.card{
    border-radius: 20px;
}

.carrito{
    border: 1px solid #666;
    width: 50%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}

.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item{
    margin-right: 20px;
}

.selector-cantidad{
    margin-left: 25px;
}

.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    color: #000;

}

.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.carrito-total .btn-pagar:hover{
    scale:1.05;
}

@media screen and (max-width:850px){
    .carrito{
        width: 100%;
    }
}